* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background: rgb(0, 139, 185);
  background: linear-gradient(180deg, rgb(44, 201, 253) 0%, rgb(0, 163, 213) 50%, rgb(37, 157, 255) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

.App>div>div>* {
  color: #fff;
}

.App>div>div>div>* {
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.wather-app {
  width: 600px;
  height: 200px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  background-color: rgba(255, 250, 250, 0.164);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.weather-img{
  width: 200px;
}

.forecast {
  display: grid;
  grid-template: 1fr / repeat(4,1fr);
  gap: 40px;
  width: 800px;
  margin: 0 auto;
  height: auto;
}
@media (max-width: 800px) {
  .forecast {
    display: grid;
    grid-template: 1fr / repeat(2,1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .wather-app {
    width: 90%;
    margin: auto;
    height: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 20px;
    background-color: rgba(255, 250, 250, 0.164);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
  }
  .weather-img{
    width: 150px;
  }
  span{
    font-size: 10px;
  }
  h1{
   font-size:  18px;
  }
  h2,h3,h4{
    font-size: 14px;
  }
}

.forecast>div {
  flex: 1;
  transition: .5s;

}


.forecast>div:hover {
  box-shadow: 0px 0px 14px rgba(119, 119, 119, 0.432);
  border-radius: 20px;
  transform: scale(1.1);
}